<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
    <div class="container"><a class="navbar-brand" href="/" style="font-family: Lato, sans-serif;">Health Panda</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navbarResponsive"><a href="#"></a>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Usługi</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/login">Zaloguj się</a></li>
            </ul>
        </div>
    </div>
</nav>