<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--<div th:insert="fragments/head.html"> </div>-->
<!--<body id="page-top" class="bg-light">-->
<!--<div th:insert="fragments/navbar.html"> </div>-->
<!--<header>-->
<!--    <div class="container text-center align-content-center col-sm-9 col-md-7 col-lg-5 mx-auto">-->
<!--        <div class="card card-signin my-5">-->
<!--            <div class="card-body">-->
<!--                <h1>Kalkulator BMI</h1>-->
<!--                <p>Wskaźnik masy ciała, sprawdź czy zagraża Ci nadwaga lub otyłość!</p>-->
<!--                <form action="#" th:action="@{/bmi}" th:object="${bmi}" method="POST">-->
<!--                    <p>waga:  <input type="text" th:field="*{mass}"/></p>-->
<!--                    <p>wzrost:  <input type="text" th:field="*{height}"/> </p>-->
<!--                    <p>-->
<!--                    <p class = "dropdown"><input type="submit" class="btn btn-success" name="bmiCalculator" value="Oblicz"/></p>-->
<!--                    </p>-->
<!--                    <h3><p th:text="'Twój wskaźnik BMI to: ' + ${result}"></p></h3>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->
<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<div th:insert="fragments/fotter.html"> </div>-->

<!--&lt;!&ndash; Bootstrap core JavaScript &ndash;&gt;-->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

<!--&lt;!&ndash; Plugin JavaScript &ndash;&gt;-->
<!--<script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->

<!--&lt;!&ndash; Custom JavaScript for this theme &ndash;&gt;-->
<!--<script src="js/scrolling-nav.js"></script>-->
<!--</body>-->
<!--</html>-->