<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Health Care</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top" class="bg-light">
<div th:insert="fragments/navbar.html"> </div>

<header>
<div class="container text-center align-content-center col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
        <div class="card-body">
    <h1>Kalkulator BMR</h1>
            <p>Oblicz swoje zapotrzebowanie kaloryczne!</p>
    <form action="#" th:action="@{/bmr}" th:object="${bmr}" method="POST">
        <p>wiek:  <input type="text" th:field="*{age}"/></p>
        <p>wzrost:  <input type="text" th:field="*{height}"/> </p>
        <p>waga:  <input type="text" th:field="*{bodyWeight}"/> </p>
        <p>
        <p>Określ swój tryb życia: </p>
        <p class = "dropdown"><input type="submit" class="btn btn-success" name="bmrCalculator" value="Leżący lub siedzący tryb życia, brak aktywności fizycznej"/></p>
        <p class = "dropdown"><input type="submit" class="btn btn-success" name="bmrCalculator12" value="Praca siedząca, aktywność fizyczna na niskim poziomie"/></p>
        <p class = "dropdown"><input type="submit" class="btn btn-success" name="bmrCalculator14" value="Praca nie fizyczna, trening 2 razy w tygodniu"/></p>
        <p class = "dropdown"><input type="submit" class="btn btn-success" name="bmrCalculator16" value="Lekka praca fizyczna, trening 3-4 razy w tygodniu"/></p>
        <p class = "dropdown"><input type="submit" class="btn btn-success" name="bmrCalculator18" value="Praca fizyczna, trening 5 razy w tygodniu"/></p>
        <p class = "dropdown"><input type="submit" class="btn btn-success" name="bmrCalculator20" value="Ciężka praca fizyczna, codzienny trening"/></p>
        </p>
        <h3><p th:text="'Twoje zapotrzebowanie kaloryczne wynosi ' + ${result} + ' kcal'"></p></h3>
    </form>
</div>
    </div>
</div>
</header>
<!-- Footer -->
<div th:insert="fragments/fotter.html"> </div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->
<script src="js/scrolling-nav.js"></script>
</body>
</html>