<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BMR Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

</head>
<Body background="/jpg/background2.jpg">
<div class="calculator">
    <h1>BMR Calculator - Oblicz swoje zapotrzebowanie kaloryczne!</h1>
    <form action="#" th:action="@{/bmr}" th:object="${bmr}" method="POST">
        <p>wiek:  <input type="text" th:field="*{age}"/></p>
        <p>wzrost:  <input type="text" th:field="*{height}"/> </p>
        <p>waga:  <input type="text" th:field="*{bodyWeight}"/> </p>
        <p>
        <p>Określ swój tryb życia: </p>
        <p><input type="submit" class="button" name="bmrCalculator" value="Leżący lub siedzący tryb życia, brak aktywności fizycznej"/>
        <input type="submit" class="button" name="bmrCalculator12" value="Praca siedząca, aktywność fizyczna na niskim poziomie"/>
        <input type="submit" class="button" name="bmrCalculator14" value="Praca nie fizyczna, trening 2 razy w tygodniu"/>
        <input type="submit" class="button" name="bmrCalculator16" value="Lekka praca fizyczna, trening 3-4 razy w tygodniu"/>
        <input type="submit" class="button" name="bmrCalculator18" value="Praca fizyczna, trening 5 razy w tygodniu"/>
        <input type="submit" class="button" name="bmrCalculator20" value="Ciężka praca fizyczna, codzienny trening"/></p>
        </p>
        <h3><p th:text="'Twoje zapotrzebowanie kaloryczne wynosi ' + ${result} + ' kcal'"></p></h3>
    </form>
</div>
</body>
</html>