<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragments/head.html"> </div>

<body>
<div th:insert="fragments/navbar.html"> </div>
<div class="register-photo">
    <div class="form-container">
        <form  action="#" th:action="@{/registration}" th:object="${registration}" method="post">
            <h2 class="text-center"><strong>Stwórz konto</strong></h2>
            <div class="form-group"><input type="text" th:field="*{username}" class="form-control" name="username" placeholder="Nazwa użytkownika" /></div>
            <div class="form-group"><input type="password" th:field="*{password}" class="form-control" name="password" placeholder="Hasło" /></div>
            <div class="form-group"><input type="password" th:field="*{password}" class="form-control" name="password-repeat" placeholder="Powtórz hasło" /></div>
            <div class="form-group">
                <div class="form-check"><label class="form-check-label"><input type="checkbox" class="form-check-input" />Zgadzam się z regulaminem serwisu.</label></div>
            </div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Zarejestruj sę</button></div><a class="already" href="/login">Masz już konto? Zaloguj się!</a></form>
    </div>
</div>
<div th:insert="fragments/fotter.html"> </div>
</body>

</html>